
@font-face {
    font-family: "raleway";
    src: url("../fonts/Raleway-Regular.woff") format("woff"),
         url("../fonts/Raleway-Regular.woff2") format("woff2");
}

body {
  font-family: "raleway";
}


.nav {
    background: black;


}

.foo {
    background: white;

}




span {
    color: green;

}

li {
    word-spacing: 2px; //rozdziela tylko o !?
    margin: 10px;

}



.section_2T {

}

.section_3T {

}

.green_div {
    width: 50%;
    height: 4%;
    background: green;
    color:green;
}

#logo1 {
    color:white;
    display: flex;
    float: left;
    margin: 10px;

}

#menu {
    color:white;
    display: flex;
    float:right;

}
