
@font-face {
    font-family: "raleway";
    src: url("../fonts/raleway-regular-webfont.woff") format("woff"),
         url("../fonts/raleway-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway-bold-webfont.woff") format("woff"),
       url("../fonts/raleway-bold-webfont.woff2") format("woff2");
  font-weight: bold;
}


body {
  font-family: "raleway";
}


.nav {
    background: black;


}

.foo {
    background: white;

}


span {
    color: green;

}


.section_2T {

}

.section_3T {

}

.green_div {
    width: 50%;
    height: 4%;
    background: green;
    color:green;
}
