header {
    background: linear-gradient(#f8f8f8 60%, #d8d7dd);
}

.chair_H {
    background-image: url("../images/black_chair.png");
}

.header {
    height: 20em;
    p{
        font-size: 0.8em;
    }
    h1{
        font-size: 2em;
    }
    a {
        font-size: 1.5em;
    }

}
