#logo1 {
    color:white;
    display: flex;
    float: left;
    margin: 10px;

}

#menu {
    color:white;
    display: flex;
    float:right;

}

#pod_menu { // --?-- wysuniecie bloku pod_menu --!--
    width: 100%;

}


li {
    word-spacing: 2px; //rozdziela tylko o !?
    margin: 10px;

}
