#logo1 {
    color:white;
    display: flex;
    float: left;
    margin: 10px;

}

#menu {
    color:white;
    display: flex;
    float:right;

}


li {
    word-spacing: 2px; //rozdziela tylko o !?
    margin: 10px;

}
